@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #E91E63;
  --primary-dark: #C2185B;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans);
}
